# Flutter build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
generated_plugin_registrant.dart

# IDEs y herramientas
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Otros
.macos/
linux/
windows/
